.slider-vcard{
    padding: 10px  15px 5px 15px;
    text-align: center;
    font-size: 18px;
}

.slider-space{
    margin-top: 60px;
}

.grafica{
    width: 600px;
    padding: 15px;
    justify-content: center;
    margin-top: -280px;
    margin-left: 950px;
}

#content{
    padding: 20px;
}
