<template>
  <v-app id="content">
    
    <v-app-bar color="primary" dark app>
      <v-toolbar-title class="headline">
        <span>Simulador de segundo orden</span>
      </v-toolbar-title>
      <v-spacer></v-spacer>
    </v-app-bar>

    <v-content>
      <v-row>
        <v-col cols="3">
          <v-card class="slider-vcard" max-height="200">
            <span>Seleccione valor <b>ξ</b></span>    
            <slider class="slider-space"></slider>
          </v-card>
        </v-col>
          <v-col cols="3">
            <v-card class="slider-vcard" max-height="200">
              <span>Seleccione valor <b>1/τ</b></span>    
              <slider2 class="slider-space"></slider2>
            </v-card>
          </v-col>
      </v-row>

      <v-row>
        <v-col cols="3">
          <v-card class="slider-vcard">
            <span>Funcion de transferencia</span>
          </v-card>
        </v-col>
        <v-col cols="3">
          <v-card class="slider-vcard">
            <span>Mapa de polos y ceros</span>
          </v-card>
        </v-col>
      </v-row>

      <v-card class="grafica" height="800px" width="800px">
        <span>Gráfica de salida</span>
        <chart></chart> 
      </v-card>

    </v-content>

    </v-app>

</template>

<style>
  @import './assets/css/style.css';
</style>



<script>
import slider from '@/components/Slider.vue'
import slider2 from '@/components/Slider2.vue'
import chart from '@/components/Graph.vue'

export default {
  name: 'App',
  components: {
    slider,
    slider2,
    chart
  },
  data: () => ({
      
  }),
};
</script>


