    <template>
      <div id="app">
        <chart :chart-data="datacollection"></chart>
        {{ grafica }}
      </div>
    </template>
    
    <script>
    import Chart from "@/components/Chart.js";
    import axios from 'axios';


    export default {
      components: {
        Chart
      },
      data() {
        return {
          datacollection: null,
          grafica: null
        };
      },
      created () {
        this.fillData();
      },
      mounted() {
        
      },
      methods: {
        fillData() {

        axios
        .get('http://localhost:8000/ft?tau=0.5&z=0.2')
        .then(response1 => (this.grafica = response1.data));
          
          this.datacollection = {
            labels: this.grafica,
            datasets: [
              {
                label: "valor de x",
                backgroundColor: "#000",
                data: this.grafica.t1
              },
              {
                label: "valor de y",
                backgroundColor: "#000",
                data: this.grafica.y1
              }
            ]
          };
        },
        },
      }
    </script>