<template>
    <div>
      <v-slider
        :snap="true"
        :step="0.00001"
        :min="0"
        :max="2"
        v-model="ex1.val"
        :label="ex1.label"
        :thumb-color="ex1.color"
        thumb-label="always"
        thumb-size="45"
      ></v-slider>
      <p>Valor: {{ex1.val}}</p>
      
    </div>
</template>

<script>
  export default {
    data () {
      return {
        ex1: { val: 0, color: 'orange darken-3' },
      }
    },
  }
</script>